{{!-- Nav bar and jumbo tron will be here --}}



{{!-- display articles --}}
{{#each article}}
{{#unless this.saved}}
<div class="card w-75 mb-2">
  <div class="card-header">
    <h5 class="card-title"><strong>Headline: </strong> {{this.headline}}</h5>
  </div>
  <div class="card-body">
    <p class="card-text">
      <strong>Summary: </strong>{{this.summary}}
    </p>
    <a class="btn btn-warning" href="{{this.URL}}">
      <strong>View Article</strong>
    </a>
    <button class="btn btn-secondary comments" id="{{this.id}}">Comments</button>
    <button class="btn btn-success saved" id="{{this.id}}">Save Article</button>
  </div>
</div>
{{/unless}}
{{/each}}



{{!-- <div class="container" id="main-page">
  {{#each article}}
  <div class="container" id="article-div">
    <h1>Headline: {{this.headline}}</h1>
    <p>Summary: {{this.summary}}</p>
    <a class="lead" href="{{this.URL}}">View Article</a>
    <button class="btn btn-primary" id="comments">Comments</button>
    <button class="btn btn-success" id="favorites">Save Article</button>
  </div>
  {{/each}}
</div> --}}